{% extends 'base.html.twig' %}

{% block title %}
	Home | Pokémon
{% endblock %}

{% block body %}
	<div class="container mx-auto px-4 py-8">
		<div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-8">
			{% for card in cards %}
				<a href="{{ path('details', {'id': card.id}) }}" class="bg-white shadow-sm rounded-lg overflow-hidden transition-shadow duration-300 hover:shadow-lg">
					<div>
						<img src="{{ card.images.small }}" alt="{{ card.name }}" class="w-full h-auto object-cover">
					</div>
					<div class="p-4">
						<h2 class="text-sm font-semibold pokemon-name">{{ card.name }}</h2>
						<p class="text-sm text-gray-500">ID:
							{{ card.id }}</p>
						<p class="text-sm text-gray-500">Tipo(s):
							{{ card.types | join(', ') }}</p>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
